.banner{
    display: flex;
    min-height: 363px;
    background: url("../../img/reviews/Rectangle.png");
    background-size: cover;
    background-clip: initial;
}

.banner__img{
    height: 100%;  
    position: absolute;
    bottom: -11px;
}

.banner__title{
    display: flex;
    align-items: center;
}

.banner__desc{
    color: #FFFFFF;
    font-size: 48px;
    line-height: 56px;
    font-weight: bold;
    margin-right: 25px;
}

.banner__img-wrapper{
    width: 487px;
    height: 341px;
    position: relative;
    
}

