.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-container__section{
    height: 145px;
    margin-top: auto;
}

.footer__col{
    display: flex;
    align-items: center;
    /* justify-content: flex-start; */
}

.footer__container-line{
    border-top: 1px solid #182f37;
}

.footer__col--align--right{
    justify-content: flex-end;
}

.inner--footer__container{
    padding: 42px 0;
    
}

.inner-footer{
    margin-top: auto;
}

/* .links__link{
    display: flex;
    text-decoration: none;
    width: 36px;
    height: 36px;
    background: center center no-repeat;
} */

.contacts__desc{
    color: #9A9A9A;
    font-size: 11px;
    margin-bottom: 5px;
}

.links__list{
    display: flex;  
    margin-right: 80px;
}

.links__item{
    vertical-align: middle;
    margin-right: 36px;
}

.links__item:last-child{
    margin-right: 0;
}

.links__link{
    width: 36px;
    height: 36px;
    background-color: #454545;
    border-radius: 50px;
    /* padding: 10px; */
    position: relative;
    margin-right: 10px;
}

.links__item--icon__tg .links__link::after{
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 36px;
    height: 36px;
    transform: translate(-50%, -50%);
    background: url("../img/icons/social/css_sprites.png") -234px -10px;
}

.links__item--icon__tg .links__link:hover::after{
    background-position: -290px -10px;
}

.links__item--icon__vk .links__link::after{
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 36px;
    height: 36px;
    transform: translate(-50%, -50%);
    background: url("../img/icons/social/css_sprites.png") -346px -10px;
}

.links__item--icon__vk .links__link:hover::after{
    background-position: -402px -10px;
}

.links__item--icon__fb .links__link::after{
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 36px;
    height: 36px;
    transform: translate(-50%, -50%);
    background: url("../img/icons/social/css_sprites.png") -10px -10px;
}

.links__item--icon__fb .links__link:hover::after{
    background-position: -66px -10px;
}

.links__item--icon__inst .links__link::after{
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 36px;
    height: 36px;
    transform: translate(-50%, -50%);
    background: url("../img/icons/social/css_sprites.png") -122px -10px;
}

.links__item--icon__inst .links__link:hover::after{
    background-position: -178px -10px;
}

/* .links__item--icon__tg .links__link{
    background-image: url("../img/tg.png");
}

.links__item--icon__tg .links__link:hover{
    background-image: url("../img/tg-hover.png");
}

.links__item--icon__vk .links__link{
    background-image: url("../img/vk.png");
}

.links__item--icon__vk .links__link:hover{
    background-image: url("../img/vk-hover.png");
}

.links__item--icon__fb .links__link{
    background-image: url("../img/fb.png");
}

.links__item--icon__fb .links__link:hover{
    background-image: url("../img/fb-hover.png");
} */


/* .links__item--icon__inst .links__link{
    background-image: url("../img/in.png");
}

.links__item--icon__inst .links__link:hover{
    background-image: url("../img/in-hover.png");
} */



