.header{
    padding-top: 30px;
    margin-bottom: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__col{
    display: flex;
    align-items: center;
}

.header-inner{
    display: flex;
    justify-content: space-between;
    max-width: 1150px;
}

.header__col--align--right{
    /* justify-content: flex-end; */
}


.logo{
    display: block;
    margin-right: 80px;    
}

.logo--inner{
    margin-right: 50px;
}


.menu__item{
    display: inline-block;
    margin-right: 51px;
    vertical-align: middle;
}

.menu__item:last-child{
    margin-right: 0;
}

.menu__link{
    font-size: 14px;
}

.menu__link:hover{
    color: #DA0100;
}

.contacts{
    text-align: right;
    vertical-align: middle;
    font-style: normal;
}

.contacts__phone{
    text-align: right;
    font-size: 26px;
}

.contacts__hours {
    text-decoration: underline;
    font-size: 13px;
}