.header{
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header--main{
    margin-bottom: 130px;
}

.header__col{
    display: flex;
    align-items: center;
}

.header-inner{
    display: flex;
    justify-content: space-between;
    padding-top: 29px;
}

.logo{
    display: block;
    margin-right: 80px;    
}

.logo--inner{
    display: block;
    width: 98px;
    margin-right: 67px;
} 

.menu__list{
    display: flex;
}

.menu__item{
    margin-right: 51px;
    vertical-align: middle;
}

.menu__item:last-child{
    margin-right: 0;
}

.menu__link{
    font-size: 14px;
}

.menu__link:hover{
    color: #DA0100;
}

.contacts{
    text-align: right;
    vertical-align: middle;
    font-style: normal;
}

.contacts__phone{
    display: block;
    text-align: right;
    font-size: 26px;
    line-height: 1.2;
}

.contacts__hours {
    text-decoration: underline;
    font-size: 13px;
    line-height: 1;
    letter-spacing: 0.4px;
}